.navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 20px;
    z-index: 1000;
    transition: 0.3s;
    align-items: center;
}

.navbar.active {
    background-color: #020617;
}

.navbar ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.navbar li {
    cursor: pointer;
}

.navbar li:hover {
    text-decoration: underline;
    transition: 0.5s;
    color: #AA6C39;
}